img {
  max-width: 100%;
  height: auto;
}

p code,
figcaption code {
  background-color: lightyellow;
  color: dimgrey;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.draft-label {
  font-weight: 700;
  font-size: 1rem;
  background-color: lightyellow;
  color: dimgrey;
  padding: 8px;
  margin-left: 1rem;
}

blockquote {
  border-left: 4px solid lightgrey;
  padding-left: 16px;
  margin: 0;
  font-size: 16px;
}

.toc ol {
  padding-left: 0;
}

.toc ol li {
  list-style-type: none;
}

.toc ul {
  padding-left: 2rem;
}

.toc ul li {
  list-style-type: none;
}

.page-wrapper {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header .nav {
  display: flex;
}

header .nav li {
  list-style-type: none;
  margin-left: 1em;
}

hgroup h3 {
  margin-bottom: 0.25em;
}

hgroup p {
  margin-top: 0;
}

/*body {
  font-family: 'Inria Serif', serif;
  font-size: 18px;
  font-weight: 400;
}
*/

body {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}

.inria-serif-light {
  font-family: 'Inria Serif', serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic,
blockquote {
  font-family: 'Inria Serif', serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
  font-style: italic;
}
