<div class="post-list">
  {% for post in postslist %}
    <article class="post-list-item">
      <div class="post-list-meta">
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <p class="post-list-title">
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </p>
      </div>
      {% if post.data.summary %}
        <p class="post-list-summary">
          {{ post.data.summary }}
        </p>
      {% endif %}
    </article>
  {% endfor %}
</div>
